* {
    font-family: "Roboto", sans-serif;
  }
  
  nav {
      margin-left: 15rem;
      color: #fff;
  }
  
  body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(1, 1, 1, 0.5)), url(/css/img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
  }
